/* GLOBAL VARIABLES */
:root {
  --primary: #3b1f61;
  --bg-light: #f7f6f8;
  --bg-dark: #18141e;
  --text-light: #141019;
  --text-dark: #faf9fb;
  --radius: 1rem;
  --transition: 0.3s ease;
  --font: "Lexend", sans-serif;
  --border: black;
}

/* DARK THEME OVERRIDES */
/* html.dark {
  --bg: #18141e;
  --surface: #231f2a;
  --text: #f4f4f5;
  --text-muted: #9ca3af;
  --border: #332d3d;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
} */

/* RESET & BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* add slow smooth scrolling behavior */
html {
  scroll-behavior: smooth;
} 

body {
  font-family: var(--font);
  background: var(--bg-light);
  color: var(--text-light);
  min-height: 100vh;
}

/* REUSABLE COMPONENTS (Shared across pages) */
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

/* header section */
.site-header-page { 
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.5);
  padding: 1rem 1.5rem;
  text-align: center;
  z-index: 100;
}

/* navigation section */
/* Navigation */
.pill-nav {
  margin-top: 0rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5rem;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.363);
  border-bottom: 1px solid #e5e5e5;
}

.pill {
  padding: 0.6rem 1.5rem;
  border-radius: 999px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: var(--text-light);
  transition: var(--transition);
}

.pill.active{
  background: var(--primary);
  color: white;
}
.pill:hover {
  background: var(--primary);
  color: white;
  transform: scale(1.2);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.pill.close {
  display: none;
}

.mobile-nav-research {
  display: none;
}


/* contact mobile */
@media (max-width: 768px) {

.mobile-nav-research {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: rgba(255,255,255,0.5);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-toggle {
  display: flex;
}

  .pill-nav {
    position: fixed;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
      background: rgba(255, 255, 255, 0.514);
  }

  .pill.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-light);
    cursor: pointer;
    display: block;
  }

  .fa-bars {
    font-size: 24px;
    color: var(--text-light);
  }

  .site-header-page {
    display: none;
  }
}

/* footer section */
.site-footer {
  background: #222;
  color: lightgray;
  padding: 3rem 4.5rem;
}

.parent-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 20px;
  color: lightgray;
}

.footer-inner {
  display: grid;
  grid-template-columns: 2fr 1fr; /* left is dominant */
  gap: 3rem;
  align-items: start;
}

.footer-left h1 {
  margin-bottom: 0.5rem;
}

.footer-left .subtitle {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.footer-left a {
  color: #4da3ff;
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
}

.footer-right h2 {
  margin-bottom: 1rem;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 56px);
  gap: 16px;
}

.social-grid a {
  width: 56px;
  height: 56px;
  background: #2a2a2a;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: transform 0.2s ease, background 0.2s ease;
}

.social-grid i {
  font-size: 26px;
  color: lightgray;
}

.social-grid a:hover {
  background: #333;
  transform: translateY(-2px);
}

.social-grid a:hover .fa-linkedin {
  color: #0077b5;
}

.social-grid a:hover .fa-orcid {
  color: #A6CE39;
}

.social-grid a:hover .fa-researchgate {
  color: #57a4a0;
}

.social-grid a:hover .fa-graduation-cap{
  color: #5682f6;
}

.social-grid a:hover .fa-github {
  color: #fafbfc;
}

.footer-inner {
  position: relative;
}

.footer-inner::after {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 66%;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
}

/* contact mobile */
@media (max-width: 768px) {
  .footer-inner {
    grid-template-columns: 1fr;
  }

  .footer-right {
    order: -1; /* move Connect above contact details */
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-inner::after {
    display: none;
  }
}
